<% include partials/header %>
<% include partials/menu %>

	<!-- Banner -->
	
	<!-- <section id="banner"> -->
		<div class="banner">
			<div class="inner">
					<div>
							<h1 style="font-family:Helvetica;">Republic</H1>
					</div>
					<div class="flex row">

						<article>
								
							<a href="candidate_info" ><img src="../public/images/candidates.jpeg" alt="candidates" /></a>
								
							<h2>Candidates</h2>
							
							<!-- <img src="../../resources/images/votebox.jpg" alt="voters" /> -->
							
						<!-- <footer>
							<button href="login.html" class="btn fill"><i class="fas fa-person-booth"></i></button>
						
						</footer> -->

						</article>

							<!-- <article>
								
								<a href="/views/pages/login.php" ><img src="../../resources/images/votebox.jpg" alt="voters" /></a>
									
								<h2>Voters</h2>
								
								<img src="../../resources/images/votebox.jpg" alt="voters" /> 
								
							<footer>
								<button href="login.html" class="btn fill"><i class="fas fa-person-booth"></i></button>
							
							</footer> 

							</article> -->

							<article>
								
								<a href="polls" ><img src="../public/images/polls.png" alt="polls" /></a>
								<h2>Polls</h2>
								<!-- <img src="../../resources/images/polls.png" alt="polls" /> -->
									
								<!-- <footer>
								
									<button href="polls.html" class="btn fill"><i class="fas fa-poll"></i></button>
								</footer> -->

							</article>

							<article>
								
								<a href="https://www.usa.gov/register-to-vote" ><img src="../public/images/register.png" alt="register" /></a>
								<h2>Register to Vote</h2>
								<!-- <img src="../../resources/images/register.png" alt="register" />
								
								<footer>
									<button href="https://www.usa.gov/register-to-vote" class="btn fill"><i class="fas fa-vote-yea"></i></button>
										<a href="https://www.usa.gov/register-to-vote" class="button">Register to Vote</a>
								</footer> -->
							</article>
					</div>


			</div>

			<div class="flex row" style="align-items: center; justify-content: center; position: absolute; bottom: 0">
				<a href="#" class="fa fa-facebook"></a>
				<a href="#" class="fa fa-twitter"></a>
				<a href="#" class="fa fa-google"></a>
				<a href="#" class="fa fa-instagram"></a>
			</div>
		</div>
	<!-- </section> -->

<% include partials/footer %>
