<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Events Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../resources/css/canidate.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home.html" class="logo">Main Page</a>
					<nav id="nav">
						<a href="events.html">Events</a>
						<a href="candidate_info.html">Candidates</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner-->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>2020 Presidential Events</h1>
					</header>
						<!-- Embed Google Calendar of Presidential Events by Vox.com -->
						<iframe src="https://calendar.google.com/calendar/embed?src=p47o4qvu0i56gfjiieb69chuec%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="100%" height="900" frameborder="0" scrolling="no"></iframe>
				</div>
			</section>

		<!-- Footer -->
		<footer id="footer">
				<div class="flex "style="align-items: center; justify-content: center;">
						<a href= "https://secure.actblue.com/" class="button2 btn-bot " >Donate Now!!!!</a>
				</div>
				<!-- <form action="#" method="post">
				</form> -->
		</footer>

		<!-- Scripts -->
		<script src="../../resources/js/jquery.min.js"></script>
		<script src="../../resources/js/skel.min.js/js/skel.min.js"></script>
		<script src="../../resources/js/util.js"></script>
		<script src="../../resources/js/main.js"></script>

	</body>
</html>
