
	<!-- Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

	Group 101-1 -->


	<% include partials/header %>
	
	<head>
		<title>Republic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/9ff6827ca3.js" crossorigin="anonymous"></script>
<!-- Header -->
	<!-- <header id="header"> -->
		<!-- <div class="inner"> -->
			
		<!-- </div> -->
	<!-- </header> -->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/views/pages/home.html" class="logo">Republic</a>
					<nav id="nav">
						<a href="/views/pages/login.html">Login/SignUp</a>
						<a href="/views/pages/events.html">Events</a>
						
					</nav>
				</div>
			</header>

        <!-- Banner -->
				<section id="banner">
						<div class="inner">
								<div>
										<h1 style="font-family:Helvetica;">Republic</H1>
								</div>
								<div class="flex row">

									<article>
											
										<a href="/views/pages/candidate_info.html" ><img src="../../resources/images/candidates.jpeg" alt="candidates" /></a>
										 
										<h2>Candidates</h2>
										
										<!-- <img src="../../resources/images/votebox.jpg" alt="voters" /> -->
										
									<!-- <footer>
										<button href="login.html" class="btn fill"><i class="fas fa-person-booth"></i></button>
									
									</footer> -->

									</article>

										<!-- <article>
											
											<a href="/views/pages/login.php" ><img src="../../resources/images/votebox.jpg" alt="voters" /></a>
											 
											<h2>Voters</h2>
											
											<img src="../../resources/images/votebox.jpg" alt="voters" /> 
											
										<footer>
											<button href="login.html" class="btn fill"><i class="fas fa-person-booth"></i></button>
										
										</footer> 

										</article> -->

										<article>
											
											<a href="/views/pages/polls.html" ><img src="../../resources/images/polls.png" alt="polls" /></a>
											<h2>Polls</h2>
											<!-- <img src="../../resources/images/polls.png" alt="polls" /> -->
												
											<!-- <footer>
											
												<button href="polls.html" class="btn fill"><i class="fas fa-poll"></i></button>
											</footer> -->

										</article>

										<article>
											
											<a href="https://www.usa.gov/register-to-vote" ><img src="../../resources/images/register.png" alt="register" /></a>
											<h2>Register to Vote</h2>
											<!-- <img src="../../resources/images/register.png" alt="register" />
											
											<footer>
												<button href="https://www.usa.gov/register-to-vote" class="btn fill"><i class="fas fa-vote-yea"></i></button>
													<a href="https://www.usa.gov/register-to-vote" class="button">Register to Vote</a>
											</footer> -->
										</article>
								</div>


						</div>

						<div class="flex row" style="align-items: center; justify-content: center; position: absolute; bottom: 0">
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-google"></a>
							<a href="#" class="fa fa-instagram"></a>
						</div>
				</section>

				
		

		<!-- Scripts
			<script src="../../resources/js/jquery.min.js"></script>
			<script src="../../resources/js/skel.min.js/js/skel.min.js"></script>
			<script src="../../resources/js/util.js"></script>
			<script src="../../resources/js/main.js"></script> -->

	</body>

<% include partials/footer %>