<% include partials/header %>
<% include partials/menu %>
        <!-- Banner -->

        <section id="banner">
            <div class="inner">
                <div>
                    <H1 style="font-size:550%;">Live Polls</H1>
                </div>
                <div class="flex">

                </div>


            </div>
        </section>




	</body>
<% include partials/footer %>
