<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

	Group 101-1

-->
<html>
	<head>
		<title>Log In</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../resources/css/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Header -->
	<!-- <header id="header"> -->
		<!-- <div class="inner"> -->
			
		<!-- </div> -->
	<!-- </header> -->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="home.html" class="logo">Republic</a>
					<nav id="nav">
						<a href="events.html">Events</a>
						<a href="candidate_info.html">Candidates</a>
						
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-google"></a>
						<a href="#" class="fa fa-instagram"></a>
					</nav>
				</div>
			</header>

        <!-- Banner -->
				<section id="banner">
						<div class="inner">
								<div>
										<h1 style="font-family:Helvetica;">Log In</h1>
								</div>
								<div class="flex">

										<article>
												
                                            <img src="../../resources/images/ivoted.jpg" alt="regvoters" />
                                            
                                            <h2>Registered Voters</h2>

										</article>

										<article>
												
											<img src="../../resources/images/delegate.jpg" alt="delegate" />
					
											<h2>Registered Delegates</h2>

										</article>
								</div>


						</div>
				</section>

		<!-- Scripts -->
			<script src="../../resources/js/jquery.min.js"></script>
			<script src="../../resources/js/skel.min.js/js/skel.min.js"></script>
			<script src="../../resources/js/util.js"></script>
			<script src="../../resources/js/main.js"></script>

	</body>
</html>
